<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <div th:object="${usuario}" th:remove="tag">
        <ul th:if="${#fields.hasErrors('*')}" >
            <li th:each="err:${#fields.errors('*')}" th:text="${err}"> </li>
        </ul>
    </div>
    
    <form th:action="@{/addUsuario}" th:object="${usuario}" method="post">

        <input type="hidden" th:field="*{id}"><br>

        <label for="nombre">Nombre</label>
        <input type="text" th:field="*{Nombre}" name="nombre"><br>
        
        <label for="Apellido">Apellido</label>
        <input type="text" th:field="*{Apellido}" name="Apellido"><br>

        <label for="Email">Email</label>
        <input type="email" th:field="*{Email}" name="Email"><br>

        <label for="Contrasena">Contrasena</label>
        <input type="password" th:field="*{Contrasena}" name="Contrasena"><br>

        <label for="Telefono">Telefono</label>
        <input type="number" th:field="*{Telefono}" name="Telefono"><br>

        <input type="submit" value="Guardar">
    </form>
</body>
</html>